body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 24px;
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 16px;
    gap: 12px;
    width: 80%;
}

.submit {
    width: 25%;
    height: 36px;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    text-align: center;
}

.square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 84px;
    background-color: rgb(224, 224, 224, 0.6);
    border-radius: 8px;
    height: 150px;
}

.winnerDisplay {
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 3px solid red;
    padding: 4px;
    width: 25%;
    text-align: justify;
    font-size: 18px;
    font-weight: bolder;
}

/* #square-1, #square-2, #square-3 {
    border-top: none;
}

#square-1, #square-4, #square-7 {
    border-left: none;
}

#square-7, #square-8, #square-9 {
    border-bottom: none;
}

#square-3, #square-6, #square-9 {
    border-right: none;
} */

.closeDisplay {
    display: none;
}

.winnerCombo {
    background-color: rgb(39, 156, 0, 0.8);
}
